body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  color:#ffffff;
  background-color:#1b1b1b;
}

.textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  font-weight: bolder;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: rgb(224, 172, 39);
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid rgb(224, 172, 39);
}

.hour {
  background-color: #1b1b1b;
  color:  rgb(224, 172, 39);
  border-top: 1px dashed #000000;
}

.past {
  background-color:rgb(124, 122, 122);
  color: white;
}

.present {
  background-color: #a54b46;
  color: white;
}

.future {
  background-color: #688668;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(224, 172, 39);
  color: black;
  size: 1in;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

#clear-button {
  background-color: rgb(224, 172, 39);
  float: left;
  border-radius: 15px;
  font-weight: 500;
}
